LibraryService/Schemas/userBook/RequestUserBook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.libraryservice.com/requestUserBook/v1"  xmlns:tns="http://www.libraryservice.com/requestUserBook/v1" elementFormDefault="qualified">

	<xsd:element name="RequestUserBookData"> 
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="titolo_libro" type="xsd:string"/>
				<xsd:element name="email_utente" type="xsd:string"/>
				<xsd:element name="stato" type="xsd:string"/>
				<xsd:element name="note" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</schema>